* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(242, 239, 231);
    font-family: "Comic Neue", cursive;
    font-weight: 900;
    font-style: normal;
}

/* .navbar .btn-outline-success {
    --bs-btn-color: #2973B2 !important;
    --bs-btn-border-color: #2973B2 !important;
    --bs-btn-hover-bg: #2973B2 !important;
    --bs-btn-hover-border-color: #FFF !important;
    --bs-btn-active-color: #2973B2 !important;
    --bs-btn-active-bg: #2973B2 !important;
    --bs-btn-active-border-color: #2973B2 !important;
    --bs-btn-disabled-border-color: #2973B2 !important;
    --bs-btn-disabled-bg: transparent;
    overflow: hidden;
}

.navbar{
    background-color: #EEF1DA;
    margin-top: 0;
    top: 0px;
    position: sticky;
    z-index: 1000;

}

.btn{
    padding-right: 22px;
} */

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    z-index: 1000;
    margin: 0 !important; /* Ensures no margin */
    padding: 10px 20px; /* Adds some spacing */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    list-style: none;
    font-family: "Comic neue", serif;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
}

.navbar .logo{
    height: 45px;
    width: 45px;
    border: 2px solid black;
}


.col-sm {
    background-color: #ffffff;
    box-shadow: 4px 4px 10px hsl(200, 4%, 41%) !important;
    transition: background-color 0.3s ease;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-sm:hover {
    /* background-color: rgba(154, 203, 208, 0.5); */
    box-shadow: 4px 4px 14px hsl(200, 4%, 31%) !important;
    cursor: pointer;
    transform: scale(1.03);
}

.text {
    font-weight: bolder;
    color: #18230F;
}
